/*------------------COPYRIGHT------------------*
* ALL RIGHTS RESERVED TO VLAD BALANESCU, 2017  *
* Personal Website                             *
* NOTICE:  All  information  contained  herein *
*          is and remains  the   property   of *
*          Vlad Balanescu.  The   intellectual *
*          and technical  concepts   contained *
*          herein  are proprietary   to   Vlad *
*          Balanescu.   Dissemination  of this *
*          information   or   reproduction  of *
*          this material is strictly forbidden *
*          unless prior written  permission is *
*          obtained    from     Vlad Balanescu.*
----------------------------------------------*/


/*----------Main content----------------------------*/

#wraper {
    background-image: url("../Multimedia/Wraper.jpg");
    background-size: 100% 100%;
    border: 0.1vw solid #002A55;
    box-shadow: 5px 5px 0px black;
    border-radius: 10px;
    width: 70vw;
    height: 79vw;
    padding-bottom: 0.1vw;
    margin: 80px auto 0px auto;
}


/*----------Title Box----------------------------*/

#titleBox, #titleBox2 {
    border: 2px solid #000066;
    border-radius: 10px;
    width: 45vw;
    height: 5vw;
    background-color: #F8F8F8;
    margin-top: 20px;
    padding: 0px 0.5vw 0.2vw 0.5vw;
    text-align: center;
}

#titleBox2 {
    background-color: #e6f5ff;
    box-shadow: 3px 3px 0 #000000;
}

.flip-container {
    margin-left: 14vw;
    width: 46vw;
    height: 10vw;
    perspective: 1000px;
    z-index: 10;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(180deg);
}

.flip-container, .front, .back {
    height: 6vw;
}

.flip-container .flipper {
    transform-origin: 100% 3vw;
    /*Half the height of .flip-container*/
}

.flip-container:hover .flipper {
    transform: rotateX(-180deg);
}

.flipper {
    transition: 0.7s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateX(0deg);
}

.back {
    transform: rotateX(180deg);
}

#title {
    font-family: "Arial", "Serif";
    font-size: 1vw;
    margin: 0.5vw 0px;
    font-style: italic;
}

#title>sup {
    font-size: 1vw;
}

#degree {
    font-weight: bold;
    font-size: 1.2vw;
}

#motto {
    font-style: italic;
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 1.5vw;
}


/*----------Title Box----------------------------*/


/*----------Short Story----------------------------*/

#aboutMeBox {
    height: 5vw;
    margin: 9vw 0vw -2vw 0vw;
}

#aboutMe {
    color: white;
    font-weight: bold;
    margin: 7vw 10px 0vw 38vw;
    font-size: 2vw;
}

#storyBox {
    background-color: #F8F8F8;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 57vw;
    width: 46vw;
    margin: 0vw 0vw 3vw 22vw;
    padding: 20px 5px 10px 0px;
}

#readMore {
    margin: 0vw 0vw 0vw 38vw;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    color: #000099;
    font-style: italic;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
}

#readMore:hover {
    color: red;
    margin-left: 37vw;
}

.story {
    font-family: "Calibri", "Arial", "Serif";
    margin: 5px 10px 5px 20px;
    font-size: 1.1vw;
    text-align: justify;
}

.storyTitle {
    color: #000099;
    font-family: "Arial", "Serif";
    font-weight: bold;
    font-style: italic;
    margin: 2vw 1vw 0vw 1.5vw;
    font-size: 1.2vw;
}


/*----------Short Story----------------------------*/


/*----------Photos----------------------------*/

#personalPhoto {
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    margin: 12vw 0.5vw 0.5vw 1.2vw;
    height: 14vw;
    width: 19.5vw;
    float: left;
    clear: left;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#personalPhoto:hover {
    -webkit-filter: grayscale(100%);
}

.photo {
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    margin: 1.5vw 0.5vw 0.5vw 1.2vw;
    height: 14vw;
    width: 19.5vw;
    float: left;
    clear: left;
    position: relative;
    overflow: hidden;
    background-color: #F8F8F8;
    z-index: 0;
}

.photo p {
    color: #000000;
    text-align: center;
    position: relative;
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 1vw;
    top: 0.5vw;
}

.effect img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 14vw;
    width: 19.5vw;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.effect img.top:hover {
    bottom: -30px;
    -webkit-filter: grayscale(100%);
}

#visitG {
    margin: 4vw 0vw 0.1vw 5vw;
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
    text-decoration: none;
    float: left;
    clear: left;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

#visitG:hover {
    color: #66ffff;
}


/*----------Photos----------------------------*/


/*----------Main content----------------------------*/
