/*------------------COPYRIGHT------------------*
* ALL RIGHTS RESERVED TO VLAD BALANESCU, 2017  *
* Personal Website                             *
* NOTICE:  All  information  contained  herein *
*          is and remains  the   property   of *
*          Vlad Balanescu.  The   intellectual *
*          and technical  concepts   contained *
*          herein  are proprietary   to   Vlad *
*          Balanescu.   Dissemination  of this *
*          information   or   reproduction  of *
*          this material is strictly forbidden *
*          unless prior written  permission is *
*          obtained    from     Vlad Balanescu.*
----------------------------------------------*/


/*----------Main content----------------------------*/

#wraper {
    background-image: url("../Multimedia/Wraper.jpg");
    background-size: 1500px 100%;
    border: 1px solid #002A55;
    box-shadow: 5px 5px 0px black;
    border-radius: 15px;
    width: 70vw;
    height: 84vw;
    margin: 80px auto 0px auto;
}

#innerWraper {
    margin: 1.5vw;
    background-color: #F8F8F8;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 80vw;
}

#title {
    font-weight: bold;
    color: #093f89;
    font-size: 2vw;
    font-family: "Arial", serif;
    text-align: center;
    margin: 3vw auto 7vw auto;
}

#photosBox {
    float: right;
    clear: right;
    margin-right: 1vw;
}

#photosBox img {
    border: 1px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    border-radius: 10px;
    margin: 0 0 6.5vw 1vw;
    width: 17vw;
    height: 11vw;
    float: right;
    clear: right;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#photosBox img:hover {
    -webkit-filter: grayscale(100%);
}

#storyBox {
    width: 70%;
    padding-right: 2vw;
}

#storyBoxText {
    font-family: "Calibri", "Arial", "Serif";
    margin: 0 0 3vw 1vw;
    font-size: 1.1vw;
    text-align: justify;
}


/*----------Main content----------------------------*/
