/*------------------COPYRIGHT------------------*
* ALL RIGHTS RESERVED TO VLAD BALANESCU, 2017  *
* Personal Website                             *
* NOTICE:  All  information  contained  herein *
*          is and remains  the   property   of *
*          Vlad Balanescu.  The   intellectual *
*          and technical  concepts   contained *
*          herein  are proprietary   to   Vlad *
*          Balanescu.   Dissemination  of this *
*          information   or   reproduction  of *
*          this material is strictly forbidden *
*          unless prior written  permission is *
*          obtained    from     Vlad Balanescu.*
----------------------------------------------*/


/*----------Main content----------------------------*/

#wraper1, #wraper2, #wraper4, #wraper5 {
  background-image: url("../Multimedia/Wraper.jpg");
  background-size: 1500px 100%;
  border: 1px solid #000000;
  box-shadow: 3px 3px 0px #000000;
  border-radius: 10px;
  width: 70vw;
  margin: 80px auto 0 auto;
}

#wraper1 {
  height: 153vw;
}

#wraper2 {
  height: 128vw;
}

#wraper3 {
  background-image: url("../Multimedia/Wraper.jpg");
  background-size: 1500px 100%;
  border: 1px solid #002A55;
  box-shadow: 5px 5px 0px black;
  border-radius: 15px;
  width: 70vw;
  height: 84vw;
  margin: 80px auto 0px auto;
}

#innerWraper3 {
  margin: 1.5vw;
  background-color: #F8F8F8;
  border: 1px solid #000000;
  border-radius: 10px;
  height: 80vw;
}


#title, #title3 {
  font-weight: bold;
  color: white;
  font-size: 2vw;
  font-family: "Arial", serif;
  text-align: center;
  margin: 3vw auto;
}

#title3 {
  font-weight: bold;
  color: #093f89;
  font-size: 2vw;
  font-family: "Arial", serif;
  text-align: center;
  margin: 3vw auto 7vw auto;
}


/*----------Simple wraper----------------------------*/

#photosBox {
  float: right;
  clear: right;
  margin-right: 1vw;
}

#photosBox img {
  border: 1px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  border-radius: 10px;
  margin: 0 0 6.5vw 1vw;
  width: 17vw;
  height: 11vw;
  float: right;
  clear: right;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

#photosBox img:hover {
  -webkit-filter: grayscale(100%);
}

#storyBox {
  width: 70%;
  padding-right: 2vw;
}

#storyBoxText {
  font-family: "Calibri", "Arial", "Serif";
  margin: 0 0 3vw 1vw;
  font-size: 1.1vw;
  text-align: justify;
}


/*----------Simple wraper----------------------------*/


/*----------Flipper container----------------------------*/

.projectBox {
  width: 65vw;
  height: 12vw;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 0.8vw auto;
  background-color: #F8F8F8;
}

.projectImg {
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  height: 10.5vw;
  width: 15vw;
}

.projectSimpleImg {
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  height: 10.5vw;
  width: 15vw;
  margin: 0.4vw 0 0 1.3vw;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.projectSimpleImg:hover {
  -webkit-filter: contrast(150%);
  -moz-filter: contrast(150%);
  -o-filter: contrast(150%);
  -ms-filter: contrast(150%);
  filter: contrast(150%);
}

.flipContainer {
  perspective: 1000px;
  border-radius: 10px;
  margin: 0.4vw 0 0 1.3vw;
  height: 10.5vw;
  width: 15vw;
  float: left;
  clear: left;
}

.flipContainer:hover .flipper, .flipContainer.hover .flipper {
  transform: rotateY(180deg);
}

.flipContainer, .front, .back {
  height: 10.5vw;
  width: 15vw;
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}


/*----------Flipper container----------------------------*/


/*----------Description container----------------------------*/

.description {
  background-color: #2d862d;
  box-shadow: 3px 3px 0 #000000;
  height: 10.7vw;
  width: 46vw;
  border-radius: 10px;
  border: 1px solid #000000;
  margin: 0.5vw 1vw 0 0;
  position: relative;
  float: right;
  overflow: hidden;
}

.innerD {
  margin: 3.8vw 0 1vw 3vw;
  font-size: 1.3vw;
  font-style: italic;
  font-family: "Arial", "Serif";
  color: #093f89;
}

.littleD {
  font-size: 0.9vw;
  font-weight: normal;
  font-family: "Arial", serif;
  color: black;
  position: relative;
  left: 20px;
  text-align: justify;
  margin-right: 2.5vw;
}

.description p {
  color: white;
  margin: 9.5vw 0 0 1vw;
  font-family: "Arial", serif;
  font-size: 0.9vw;
}

.effect .one {
  position: absolute;
  left: 0;
  bottom: 0vw;
  height: 13vw;
  /*Same as description height*/
  border-radius: 10px;
  background-image: url("../Multimedia/bckg.jpg");
  -webkit-transition: bottom .3s ease-in-out;
  -moz-transition: bottom .3s ease-in-out;
  -o-transition: bottom .3s ease-in-out;
  transition: bottom .3s ease-in-out
}

.effect .one:hover {
  bottom: 1.3vw;
}

.bold {
  font-weight: bold;
}

.slidePics {
  border-radius: 10px;
  margin: 0.4vw 0 0 1.3vw;
  border: 1px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  height: 10.7vw;
  width: 15vw;
  float: left;
  clear: left;
  overflow: hidden;
}

.slidePics img {
  border-radius: 10px;
}


/*----------Description container----------------------------*/


/*----------Main content----------------------------*/


/*----------Mobile version----------------------------*/

@media only screen and (max-device-width: 500px) {
  #wraper1, #wraper2 {
    margin-bottom: 70px;
  }
}


/*----------Mobile version----------------------------*/
